.title {
    color: #000000;
    font-size: 20px;
    padding: 10px;
}

.detail {
    padding: 10px;
    color: #424242;
}

.image {
    padding: 10px;
    width: 100%;
}

.contact {
    padding: 14px;
    padding-bottom: 17px;
    padding-right: 30px;
    padding-left: 30px;
    background-color: #00b12c;
    color: #fff;
    margin: 10px;
    font-size: 16px;
    border-radius: 16px;
}